body {
    font-family: 'Helvetica', sans-serif;
    margin: 40px 100px;
}

li {
    margin-bottom: 5px;
}

.dish-img-container {
    text-align: center;
}

.title {
    text-align: center;
}

img {
    height: 20rem;
    width: auto;
}