body {
    font-family: 'Helvetica', sans-serif;
    margin: 40px 100px;
    box-sizing: border-box;
}

li {
    margin-bottom: 5px;
}

.dish-img-container {
    text-align: center;
}

.title {
    text-align: center;
}

img {
    width: 50%;
    height: auto;
}

.des-ing-container {
}

.first-container,
.second-container {
    width: 100%;
    box-sizing: border-box;
    padding: 4rem;
    border-radius: 4rem;
}

.first-container {
    width: 100%;
    background-color: lightgreen;
}

.second-container {
    margin-top: 2rem;
    background-color: lightcoral;
}

.nav {
    width: 30vw;
    margin: 4rem auto 0;
}

.list-container {
    text-align: center;
}

.list-container ul {
    display: inline-block;
    text-align: left;
}
